.div-1 {
    background-image: url(Img/0177f7440baaffd61caa4f7fa0864fe3.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 180px;
    font-size: 25px;
    text-align: left;
    border: 5px solid #000;
    border-radius: 50px;
    height: 150px;
    font-family: helvetica;
}
#div-9 {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    text-decoration:underline ;
    background-color: #57a5fd;
    color: #000;
    margin-top:  20px;
    border: 3px solid #000;
    border-radius: 15px;
    font-family: helvetica;
}
.div-2 {
    font-size: 17px;
    background-color: #57a5fd;
    color: #fff;
    margin-top: 20px;
    border: 3px solid #000;
    border-radius: 15px;
    font-family: helvetica;
}
.div-3 {
    font-size: 17px;
    background-color: #57a5fd;
    color: #fff;
    margin-top: 20px;
    border: 3px solid #000;
    border-radius: 15px;
    font-family: helvetica;
}
.div-4 {
    font-size: 17px;
    background-color: #57a5fd;
    color: #fff;
    margin-top: 20px;
    border: 3px solid #000;
    border-radius: 15px;
    font-family: helvetica;
}
.div-5 {
    font-size: 17px;
    background-color: #57a5fd;
    color: #fff;
    margin-top: 20px;
    border: 3px solid #000;
    border-radius: 15px;
    font-family: helvetica;
}
.div-6 {
    font-size: 17px;
    background-color: #57a5fd;
    color: #fff;
    margin-top: 20px;
    border: 3px solid #000;
    border-radius: 15px;
    font-family: helvetica;
}
.div-7 {
    font-size: 17px;
    background-color: #57a5fd;
    color: #fff;
    margin-top: 20px;
    border: 3px solid #000;
    border-radius: 15px;
    font-family: helvetica;
}
.div-8 {
    font-size: 17px;
    background-color: #57a5fd;
    color: #fff;
    margin-top: 20px;
    border: 3px solid #000;
    border-radius: 15px;
    font-family: helvetica;
}
.div-9 {
    display: flex;
    margin-top: 20px;
    background-color: #57a5fd;
    border: 3px solid #000;
    border-radius: 15px;
    font-family: helvetica;
}
.div-10 {
    height: 450px;
    width: 270px;
    border: 3px solid #04d6e6;
}
body {
    background-color:#003bdd;
}
.h-2 {
    color: #000000;
    font-family: helvetica;
}
.Negrito {
    font-weight: bold;
}